Repository HWABAEK/Saekgalpi-ColorPalette, pull requests merged in 2020-09, with the labels that each got.

#1 [Feature] Add Folder Structure
  type-client/.gitignore
  type-client/README.md
  type-client/package-lock.json
  type-client/package.json
  type-client/public/favicon.ico
  type-client/public/index.html
  type-client/public/logo192.png
  type-client/public/logo512.png
  type-client/public/manifest.json
  type-client/public/robots.txt
  type-client/src/App.css
  type-client/src/App.tsx
  type-client/src/api.gitinclude
  type-client/src/assets.gitinclude
  type-client/src/components.gitinclude
  type-client/src/components/palette.gitinclude
  type-client/src/components/templete.gitinclude
  type-client/src/hook.gitinclude
  type-client/src/index.css
  type-client/src/index.tsx
  type-client/src/pages.gitinclude
  type-client/src/pages/palettes.gitinclude
  type-client/src/pages/users.gitinclude
  type-client/src/scss.gitinclude
  type-client/src/scss/config.gitinclude
  type-client/src/scss/palettes.gitinclude
  type-client/src/scss/templetes.gitinclude
  type-client/src/scss/users.gitinclude
  type-client/src/utils.gitinclude
  type-client/tsconfig.json
Labels: Feature, HIGH, Sprint01

#94 [Feature] Initial set
  .vscode/settings.json
  old server/.eslintrc.js
  old server/config/config.js
  old server/controller/index.js
  old server/controller/paletteController/index.js
  old server/controller/paletteController/paletteCreate.js
  old server/controller/paletteController/paletteDrop.js
  old server/controller/paletteController/paletteEdit.js
  old server/controller/paletteController/paletteInfo.js
  old server/controller/paletteController/visitCheck.js
  old server/controller/userController/SCEdit.js
  old server/controller/userController/admin.js
  old server/controller/userController/index.js
  old server/controller/userController/pwdEdit.js
  old server/controller/userController/signIn.js
  old server/controller/userController/signOut.js
  old server/controller/userController/signUp.js
  old server/controller/userController/userInfo.js
  old server/index.js
  old server/migrations/20200703135503-create-user.js
  old server/migrations/20200703135557-create-palette.js
  old server/models/index.js
  old server/models/palette.js
  old server/models/user.js
  old server/package-lock.json
  old server/package.json
  old server/routes/palette.js
  old server/routes/user.js
  server/Pipfile
  server/Pipfile.lock
  server/config/__init__.py
  server/config/asgi.py
  server/config/settings.py
  server/config/urls.py
  server/config/wsgi.py
  server/db.sqlite3
  server/manage.py
Labels: Feature, HIGH, Server, Sprint01

#97 [Feature] Folder/File set, DB set
  server/Pipfile
  server/Pipfile.lock
  server/config/settings.py
  server/config/urls.py
  server/palettes/__init__.py
  server/palettes/admin.py
  server/palettes/apps.py
  server/palettes/migrations/__init__.py
  server/palettes/models.py
  server/palettes/tests.py
  server/palettes/urls.py
  server/palettes/views.py
  server/users/__init__.py
  server/users/admin.py
  server/users/apps.py
  server/users/migrations/0001_initial.py
  server/users/migrations/__init__.py
  server/users/models.py
  server/users/tests.py
  server/users/urls.py
  server/users/views.py
Labels: Feature, HIGH, Server, Sprint01

#96 [Feature] Install Packages
  type-client/package-lock.json
  type-client/package.json
  type-client/src/index.css
  type-client/src/index.tsx
Labels: Client, Feature, HIGH, Sprint01

#99 [Feature] Redux Setting & Move Files
  package-lock.json
  type-client/package-lock.json
  type-client/package.json
  type-client/src/Router.tsx
  type-client/src/actions/paletteAction.ts
  type-client/src/assets.gitinclude
  type-client/src/assets/images/1.png
  type-client/src/assets/images/10.png
  type-client/src/assets/images/2.png
  type-client/src/assets/images/3.png
  type-client/src/assets/images/4.png
  type-client/src/assets/images/5.png
  type-client/src/assets/images/6.png
  type-client/src/assets/images/8.png
  type-client/src/assets/images/9.png
  type-client/src/hook.gitinclude
  type-client/src/hooks/usePalette.ts
  type-client/src/hooks/useWindowSize.ts
  type-client/src/index.tsx
  type-client/src/pages/Main.tsx
  type-client/src/pages/Pages_styd.ts
  type-client/src/reducer/index.ts
  type-client/src/reducer/paletteReducer.ts
  type-client/src/scss.gitinclude
  type-client/src/scss/config.gitinclude
  type-client/src/scss/config/App.scss
  type-client/src/scss/config/_variables.scss
  type-client/src/scss/config/reset.scss
  type-client/src/scss/palettes.gitinclude
  type-client/src/scss/palettes/AllPalette.scss
  type-client/src/scss/palettes/ChangeSignatureColor.scss
  type-client/src/scss/palettes/EditPalette.scss
  type-client/src/scss/palettes/MakePalette.scss
  type-client/src/scss/palettes/PaletteDetail.scss
  type-client/src/scss/palettes/PaletteListEntry.scss
  type-client/src/scss/palettes/RandomColorListEntry.scss
  type-client/src/scss/templetes.gitinclude
  type-client/src/scss/templetes/Footer.scss
  type-client/src/scss/templetes/Main.scss
  type-client/src/scss/templetes/MainHeader.scss
  type-client/src/scss/templetes/SubHeader.scss
  type-client/src/scss/users.gitinclude
  type-client/src/scss/users/ChangePassword.scss
  type-client/src/scss/users/MyPage.scss
  type-client/src/scss/users/SignIn.scss
  type-client/src/utils.gitinclude
  type-client/src/utils/helper.ts
Labels: Client, E:2h, Feature, HIGH, Sprint01

#100 [Work in progress] Database set
  server/Pipfile
  server/Pipfile.lock
  server/config/settings.py
  server/db.sqlite3
  server/palettes/models.py
  server/users/migrations/0001_initial.py
  server/users/models.py
Labels: HIGH, Server, Sprint01

#101 [Work in progress] Schema / DB set
  .gitignore
  server/palettes/migrations/0001_initial.py
  server/palettes/models.py
  server/palettes/serializers.py
  server/palettes/urls.py
  server/palettes/views.py
  server/users/admin.py
  server/users/migrations/0001_initial.py
  server/users/models.py
Labels: HIGH, Server, Sprint01

#106 [Bug] Update packages
  client/package-lock.json
  client/package.json
Labels: Client, HIGH, bug

#109 [Feature] Refactor Main
  client/src/apis/paletteAPI.ts
  client/src/pages/Main.tsx
  client/src/pages/Pages_styd.ts
  client/tsconfig.json
Labels: Client, Feature, HIGH, Sprint02

#112 [Feature] Refactor RandomColor
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/components/palette/RandomColorList.tsx
  client/src/components/palette/RandomColorListEntry.tsx
  client/src/pages/Main.tsx
  client/src/utils/helper.ts
Labels: Client, Feature, HIGH, Sprint02

#113 [Feature] Refactor Footer
  client/package-lock.json
  client/src/components/templete/Footer.tsx
Labels: Client, Feature, HIGH, Sprint01

#114 [Feature] Refactor PaletteList
  client/package-lock.json
  client/package.json
  client/src/App.css
  client/src/Router.tsx
  client/src/components.gitinclude
  client/src/components/palette.gitinclude
  client/src/components/palette/PaletteList.tsx
  client/src/components/palette/PaletteListEntry.tsx
  client/src/hooks/usePalette.ts
  client/src/pages/Main.tsx
  client/src/pages/palettes.gitinclude
  client/src/pages/palettes/PaletteDetail.tsx
  client/src/utils/helper.ts
Labels: Client, Feature, HIGH, Sprint02

#115 [Feature] Refactor PaletteDetail
  client/package-lock.json
  client/package.json
  client/src/Router.tsx
  client/src/apis/paletteAPI.ts
  client/src/components/palette/PaletteListEntry.tsx
  client/src/pages/Pages_styd.ts
  client/src/pages/palettes/PaletteDetail.tsx
  client/src/utils/helper.ts
Labels: Client, Feature, HIGH, Sprint02

#116 [Feature] Refactor MakePalette
  client/src/Router.tsx
  client/src/pages/Main.tsx
  client/src/pages/palettes/MakePalette.tsx
Labels: Client, Feature, HIGH, Sprint02

#117 [Feature] Refactor EditPaletteList & EditPaletteListEntry
  client/src/Router.tsx
  client/src/apis/paletteAPI.ts
  client/src/components/palette/EditPaletteList.tsx
  client/src/components/palette/EditPaletteListEntry.tsx
  client/src/components/palette/PaletteList.tsx
  client/src/components/palette/PaletteListEntry.tsx
  client/src/components/palette/RandomColorList.tsx
  client/src/components/palette/RandomColorListEntry.tsx
  client/src/pages/Pages_styd.ts
  client/src/pages/palettes/MakePalette.tsx
  client/src/scss/config/App.scss
Labels: Client, Feature, HIGH, Sprint03

#118 [Feature] Schema set
  server/config/settings.py
  server/palettes/admin.py
  server/palettes/migrations/0001_initial.py
  server/palettes/migrations/0002_palettes_user_id.py
  server/palettes/models.py
  server/users/admin.py
  server/users/migrations/0001_initial.py
  server/users/models.py
Labels: E:2h, E:3h, Feature, HIGH, Server, Sprint01

#120 [Feature] Refactor EditPaletteHexList
  client/src/components/palette/EditPaletteHexList.tsx
  client/src/components/palette/EditPaletteHexListEntry.tsx
  client/src/components/palette/EditPaletteList.tsx
  client/src/components/palette/EditPaletteListEntry.tsx
  client/src/components/templete.gitinclude
  client/src/pages/palettes/MakePalette.tsx
Labels: Client, Feature, HIGH, Sprint03

#121 [Feature] Palette info API
  server/palettes/urls.py
  server/palettes/views.py
  server/users/urls.py
Labels: E:2h, Feature, HIGH, Server, Sprint02

#122 [Feature] palette List API
  server/palettes/views.py
Labels: E:1h, Feature, HIGH, Server, Sprint02

#124 [Feature] Palette list popularity API
  server/palettes/migrations/0001_initial.py
  server/palettes/migrations/0002_palettes_user_id.py
  server/palettes/models.py
  server/palettes/urls.py
  server/palettes/views.py
  server/users/migrations/0001_initial.py
Labels: E:2h, Feature, HIGH, Server, Sprint02

#125 [Feature] Palette list brand new API
  server/palettes/migrations/0001_initial.py
  server/palettes/migrations/0002_palettes_user_id.py
  server/palettes/models.py
  server/palettes/urls.py
  server/palettes/views.py
  server/users/migrations/0001_initial.py
Labels: Feature, HIGH, Server, Sprint02

#127 [Feature] Fix StyledCompnents
  client/src/components/palette/EditPaletteHexList.tsx
  client/src/components/palette/EditPaletteList.tsx
  client/src/components/palette/EditPaletteListEntry.tsx
  client/src/components/palette/PaletteListEntry.tsx
  client/src/components/palette/RandomColorListEntry.tsx
  client/src/pages/palettes/EditPalette.tsx
  client/src/pages/palettes/MakePalette.tsx
  client/src/pages/palettes/PaletteDetail.tsx
Labels: Client, Feature, HIGH

#128 [Feature] Create palette Validation
  server/palettes/models.py
Labels: Feature, MIDDLE, Server, Sprint03

#129 [Feature] Refactor AllPalette
  client/src/Router.tsx
  client/src/apis/paletteAPI.ts
  client/src/pages/palettes/AllPalette.tsx
Labels: Client, Feature, HIGH, Sprint04

#130 [BUG] Fixing typos palette's' Name
  server/palettes/admin.py
  server/palettes/models.py
  server/palettes/serializers.py
  server/palettes/views.py
Labels: HIGH, Server, bug

#131 [Feature] Search API 01
  server/palettes/migrations/0001_initial.py
  server/palettes/migrations/0002_palette_user_id.py
  server/palettes/urls.py
  server/palettes/views.py
  server/users/migrations/0001_initial.py
Labels: Feature, HIGH, Server, Sprint03

#135 [Feature] Set Jwt
  server/Pipfile
  server/Pipfile.lock
  server/config/settings.py
  server/config/urls.py
  server/palettes/migrations/0001_initial.py
  server/palettes/migrations/0002_palette_user_id.py
  server/users/migrations/0001_initial.py
  server/users/models.py
  server/users/serializers.py
  server/users/urls.py
  server/users/views.py
Labels: Feature, HIGH, Server, Sprint01

#136 [BUG] fix JWTset
  server/config/settings.py
  server/palettes/migrations/0001_initial.py
  server/palettes/migrations/0002_palette_user_id.py
  server/users/migrations/0001_initial.py
  server/users/views.py
Labels: HIGH, Server, Sprint01, bug

#137 [FIX]Update auth set
  Pipfile
  Pipfile.lock
  server/config/settings.py
  server/config/urls.py
Labels: HIGH, Server, Sprint05, bug

#138 [Feature] Palette Input Validation
  client/src/pages/palettes/EditPalette.tsx
  client/src/pages/palettes/MakePalette.tsx
  client/src/scss/palettes/MakePalette.scss
Labels: Client, Feature, MIDDLE
