Repository HWABAEK/Saekgalpi-ColorPalette, pull requests merged in 2020-10, with the labels that each got.

#140 [Feature] Redux Set
  client/src/actions/userAction.ts
  client/src/reducer/index.ts
  client/src/reducer/userReducer.ts
Labels: Client, Feature, HIGH, Sprint06

#139 [Work in progress] edit password API
  server/users/models.py
  server/users/urls.py
  server/users/views.py
Labels: Feature, HIGH, Server, Sprint06, bug

#141 [feature] Refactor ChangeSignatureColor Page
  client/src/Router.tsx
  client/src/actions/paletteAction.ts
  client/src/apis/paletteAPI.ts
  client/src/components/palette/PaletteListEntry.tsx
  client/src/hooks/usePalette.ts
  client/src/pages/palettes/ChangeSignatureColor.tsx
  client/src/reducer/index.ts
  client/src/reducer/paletteReducer.ts
Labels: Client, Feature, HIGH, Sprint07
